<!doctype html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport"
           content="width=device-width,
           user-scalable=no,
           initial-scale=1.0,
           maximum-scale=1.0,
           minimum-scale=1.0">
     <meta http-equiv="X-UA-Compatible"
           content="ie=edge">
     <title>{{ title }}</title>
     <link rel="stylesheet" href="css/style.css">
</head>
<body>
 {% include "layouts/top.html" %}

 <h2>{{ param }}</h2>

    {{ content | safe }}
<ul>
     {% for file in image_metadata -%}
         <li>{{ file.filename }}</li>
         {% endfor -%}
</ul>

<div class="flex">
{% for file in image_metadata -%}
         <figure><img src="{{ file.filepath }}" alt="{{ file.filename }}"/>
             <figcaption>{{ file.filename }}</figcaption>
         </figure>
         {% endfor -%}
</div>

</body>
</html>